h1, h2, .intro {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
  }
  
  
  h1 {
    font-size: 35px;
  }
  
  h2, p, ul {
    color: rgb(38, 36, 165);
  }
  
  p {
    font-size: 20px;
  }
  
  div {
    background-color: rgb(56, 0, 109);
  }
  
  .my-photo {
    size: 450px;
    text-align: center;
    background-color: white;
  }
  
  ul, p {
   margin left: 100px;
   font-size: 16px;
  }

  background-image: no-repeat url("image/background-texture.jpg");
