h1, h2, h3, .intro {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
    margin-top: 30px;
    padding-top: 25px;
  }
  
  
  h1 {
    font-size: 40px;
  }
  
  h2, h3, p, ul {
    color: rgb(38, 36, 165);
  }
  
  p {
    font-size: 20px;
  }
  
  header {
    height: 170px;
    background-color: rgb(48, 0, 94);
    margin-bottom: 25px;
  }
  
  .intro {
    padding-bottom: 20px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
    height: auto;
    border-radius: 50px;
    background-color: white;
  }

  
  article, .about {
    padding-left: 39%;
    font-size: 17px;
  }

  hr {
    border: none;
    width: 600px;
	  height: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
	  background-image: url("image/divider.png");
}

  ol {
    padding-left: 39%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 129, 28);
    font-weight: bold;
    font-size: 18px;
  }

  iframe {
    padding-left: 39%;
  }
